In [4]:
from pydataset import data
import pandas as pd

#Ejercicio 1 - Cargamos el dataset

df_csv = pd.read_csv("datos/jobs.csv")

   extra  group  ID
1    0.7      1   1
2   -1.6      1   2
3   -0.2      1   3
4   -1.2      1   4
5   -0.1      1   5