In [1]:
import pandas as pd
import numpy as np
import pickle
import bz2

Id cargando todos los ficheros en vuestro jupyter.
Si no os salga leer el pickle será por la versión de pandas. Podéis guardar el csv como pickle y cargarlo de ahí.

In [2]:
df_csv = pd.read_csv('quejas.csv', encoding='latin1', sep=';')
df_csv.head()

df_excel = pd.read_excel('quejas2.xlsx')
df_excel.head()

df_json = pd.read_json('quejas.json')
df_json.head()
df_json1 = df_json['data'].apply(pd.Series)
df_json1.head()

#El archivo pickle(algas) no se puede abrir. Si cambiamos el archivo csv a pickle si que se puede abrir.
#Nuestra idea era guardar el pickle como csv y abrirlo desde ahi pero tampoco nos funciona, porque coge el archivo como str.

# df_csv.to_pickle('csv_a_pickle.csv')
# df_pickle2 = pd.read_pickle('csv_a_pickle.pickle')
# df_pickle2.head()

df_pickle = pd.read_pickle('algas.pickle')

Para poner el práctica el read_clipboard elegir alguna tabla que os podaís encontrar en google y usad el dicho método para traer los datos al jupyter notebook. Una vez que los hayáis cargado, guardad esos datos en los siguientes formatos:
.csv
.excel
.json
.pickle

In [9]:
df_clip = pd.read_clipboard(sep = '\t')
df_clip.head()
tabla_ine = df_clip.copy()

tabla_ine.to_csv('tabla_ine.csv')
tabla_ine.to_excel('tabla_ine.xlsx')
tabla_ine.to_json('tabla_ine.json')
tabla_ine.to_pickle('tabla_ine.pickle')

- Usamos el clipboard para copiar una tabla de internet y hacemos una copia de ella para guardarla con diferentes extensiones. 
- Deberiamos comentar ese trozo de código para que en caso de que esa celda se vuelva a ejecutar, no sobreescriba los archivos con lo que tengamos en el clipboard en ese momento.
- Con el código de abajo abrimos el archivo para verificar que se ha guardado la tabla.

In [10]:
df_csv1 = pd.read_csv('tabla_ine.csv')
df_csv1.head()

                        Unnamed: 0      2021T4
0                            Total  36.344.253
1                       Extranjero   2.809.910
2                           España  33.534.343
3  Dentro de la Comunidad Autónoma  17.727.523
4           Dentro de la provincia  10.861.304