In [2]:
import pandas as pd
import numpy as np
import pickle
import bz2

In [ ]:
#Ejercicio 1
df_csv =

In [3]:

#Ejercicio 2
df_clip = pd.read_clipboard(sep = '\t')
df_clip.head()

,2021T4,2021T3,2021T2,2021T1,2020T4,2020T3,2020T2
Total,36.344.253,57.034.795,34.293.875,15.220.538,17.188.061,46.136.493,9.027.260
Extranjero,2.809.910,3.195.340,731.799,468.702,402.982,1.507.805,157.532
España,33.534.343,53.839.454,33.562.076,14.751.836,16.785.079,44.628.688,8.869.729
Dentro de la Comunidad Autónoma,17.727.523,25.804.560,22.020.786,11.605.884,11.990.306,24.075.182,6.688.860
Dentro de la provincia,10.861.304,13.104.398,13.379.295,8.675.319,8.352.438,13.513.744,4.905.409