In [3]:
from pydataset import data
import pandas as pd

#Ejercicio 1 - Cargamos el dataset

df_csv = pd.read_csv("attacks.csv")
df_csv.head()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.04-Ramos.pdf,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [11]:
#Ej2_1
print('El número de filas y columnas del dataframe es:', df_csv.shape)

El número de filas y columnas del dataframe es: (6114, 22)

In [14]:
#Ej2_2
print('Las primeras 5 filas del df son:', '\n')
df_csv.head()

Las primeras 5 filas del df son:

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.04-Ramos.pdf,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [15]:
#Ej2_3
print('Las últimas 5 filas del dataframe son:', '\n')
df_csv.tail()

Las últimas 5 filas del dataframe son:

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6109,6127,1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,...,NaN,"Sydney Gazette, 2/26/1804",1804.02.26-boat-GeorgesHead.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1804.02.26-boat-GeorgesHead.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1804.02.26-boat-GeorgesHead.pdf,1804.02.26.R,1804.02.26.R,176.0,NaN,NaN
6110,6128,1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,...,NaN,"Evening Post, 6/13/1803",1803.05.17-Jones.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1803.05.17-Jones.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1803.05.17-Jones.pdf,1803.05.17,1803.05.17,175.0,NaN,NaN
6111,6129,1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,...,NaN,"F. Peron ref in G.P. Whitley (Fishes of Australia), p.13",1803.03.00-Lefevre.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1803.03.00-Lefevre.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1803.03.00-Lefevre.pdf,1803.03.00,1803.03.00,174.0,NaN,NaN
6112,6130,1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,...,NaN,Evening Post (New York) 4/13/1802,1802.04.13.R-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1802.04.13.R-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1802.04.13.R-India.pdf,1802.04.13.R,1802.04.13.R,173.0,NaN,NaN
6113,6131,1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,...,12' shark,"The Evening Post, 12/18/1801",1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1801.12.18.R-Pettigrew.pdf,1801.12.18.R,1801.12.18.R,172.0,NaN,NaN

In [16]:
#Ej2_4
print('Dos filas al azar del df:')
df_csv.sample(2)

Dos filas al azar del df:

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
3300,3310,1973.00.00.b,1973.0,Unprovoked,PALAU,Western Caroline Islands,NaN,Scuba diving & U/W photography,Bill Curtsinger,M,...,Grey reef shark,"National Geographic, January 1995, p.56-57",1973.00.00.b-Curstinger.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1973.00.00.b-Curstinger.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1973.00.00.b-Curstinger.pdf,1973.00.00.b,1973.00.00.b,2993.0,NaN,NaN
527,529,2014.07.20,2014.0,Unprovoked,SPAIN,Canary Islands,"Teresita, Santa Cruz, Tenerife",Wading,child,NaN,...,Angel shark,"DiariodeAvisos, 7/25/2014",2014.07.20-Tenerife.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.07.20-Tenerife.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.07.20-Tenerife.pdf,2014.07.20,2014.07.20,5774.0,NaN,NaN

In [17]:
#Ej2_5
print('El nombre de las columnas del df:','\n', df_csv.columns)

El nombre de las columnas del df:
 Index(['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [18]:
#Ej2_6
print('Los principales estadísticos de las variables categóricas son:')
df_csv.describe(include = 'object')

Los principales estadísticos de las variables categóricas son:

,Case Number,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,Unnamed: 22,Unnamed: 23
count,6113,6110,6074,5706,5626,5603,5914,5564,3448,2934,3409,6098,6114,6113,6114,6114,6114,1,2
unique,6113,8,201,791,4020,1484,5118,6,156,366,1529,4837,6105,6104,6099,6113,6114,1,2
top,2018.06.25,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,17,Afternoon,White shark,"C. Moore, GSAF",1898.00.00.R-Syria.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1898.00.00.R-Syria.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf,1952.08.04,2018.06.25,stopped here,Teramo
freq,1,4438,2200,1025,162,966,511,4939,154,183,161,95,2,2,4,2,1,1,1

In [27]:
#Ej2_7

columnas = df_csv.columns
frecuencia = df_csv[df_csv.columns].value_counts()

lista_frec = []

for nombre in columnas:
    lista_frec.append(df_csv[str(nombre)].value_counts())

In [28]:
diccionario_frecuencias = {}

for x in columnas:
    for y in lista_frec:
        diccionario_frecuencias[x]= y
        lista_frec.remove(y)
        break

print(diccionario_frecuencias) #Esto es UN diccionario con todas las columnas

{'Unnamed: 0': 0       1
4084    1
4093    1
4092    1
4091    1
       ..
2043    1
2042    1
2041    1
2040    1
6131    1
Name: Unnamed: 0, Length: 6114, dtype: int64, 'Case Number': 2018.06.25      1
1959.07.23.a    1
1959.05.30      1
1959.06.13      1
1959.06.14.a    1
               ..
2000.07.02.a    1
2000.07.02.b    1
2000.07.04.a    1
2000.07.04.b    1
1801.12.18.R    1
Name: Case Number, Length: 6113, dtype: int64, 'Year': 2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    126
         ...
1819.0      1
1822.0      1
1823.0      1
1834.0      1
1801.0      1
Name: Year, Length: 207, dtype: int64, 'Type': Unprovoked      4438
Provoked         564
Invalid          537
Sea Disaster     232
Boating          203
Boat             133
Questionable       2
Boatomg            1
Name: Type, dtype: int64, 'Country': USA                               2200
AUSTRALIA                         1316
SOUTH AFRICA                       569
PAPUA NEW GUINEA                   130
NEW ZEALAND                        126
                                  ...
RED SEA / INDIAN OCEAN               1
BRITISH WEST INDIES                  1
ADMIRALTY ISLANDS                    1
FEDERATED STATES OF MICRONESIA       1
GHANA                                1
Name: Country, Length: 201, dtype: int64, 'Area': Florida              1025
New South Wales       480
Queensland            306
Hawaii                293
California            286
                     ...
St. Mary's Parish       1
Romblon Province        1
Lamu Archipelago        1
Los Vilos               1
Maharashtra             1
Name: Area, Length: 791, dtype: int64, 'Location': New Smyrna Beach, Volusia County                             162
Daytona Beach, Volusia County                                 30
Ponce Inlet, Volusia County                                   20
Melbourne Beach, Brevard County                               18
Myrtle Beach, Horry County                                    17
                                                            ...
Ocean Beach, Jaycee Park, Vero Beach, Indian River County      1
South Beach Park, Indian River County                          1
460 miles off Iwakuni                                          1
 Boa Viagem Beach, Recife                                      1
Hamelin Harbour, at Faure Island                               1
Name: Location, Length: 4020, dtype: int64, 'Activity': Surfing                                                        966
Swimming                                                       842
Fishing                                                        419
Spearfishing                                                   330
Bathing                                                        156
                                                              ...
Motor launch Baby Princesa capsized with 22 people on board      1
Sea Disaster Sinking of ferryboat Christina                      1
Wreck of the 1689-ton Portuguese  coaster Angoche                1
Hookah diving (submerged)                                        1
Standing on landed shark's tail                                  1
Name: Activity, Length: 1484, dtype: int64, 'Name': male                 511
female                93
boy                   21
2 males               16
boat                  13
                    ...
Chuck Anderson         1
Richard Whatley        1
Kenny Alexander        1
22' pleasure boat      1
Stephen Pettigew       1
Name: Name, Length: 5118, dtype: int64, 'Sex ': M      4939
F       619
M         2
N         2
lli       1
.         1
Name: Sex , dtype: int64, 'Age': 17                         154
18                         150
20                         140
19                         140
15                         137
16                         136
21                         118
22                         117
25                         107
24                         106
14                         100
13                          94
26                          83
23                          80
28                          80
29                          77
27                          77
30                          76
12                          72
35                          68
32                          68
40                          56
10                          56
31                          52
34                          50
38                          48
33                          44
43                          43
36                          42
37                          41
39                          38
42                          38
41                          38
11                          37
52                          35
9                           35
50                          32
45                          32
47                          30
44                          29
49                          28
48                          28
46                          27
8                           27
55                          23
7                           22
51                          20
54                          17
57                          16
60                          16
58                          15
53                          13
61                          13
6                           13
59                          11
56                          10
69                          10
Teen                         9
63                           9
62                           8
20s                          7
5                            7
68                           7
30s                          6
70                           6
teen                         5
65                           5
3                            5
64                           4
66                           4
77                           3
73                           3
40s                          3
71                           3
50s                          2
75                           2
                             2
1                            2
7 or 8                       2
8 or 10                      2
78                           2
30 & 32                      1
X                            1
17 & 35                      1
50 & 30                      1
"middle-age"                 1
23 & 26                      1
21, 34,24 & 35               1
37, 67, 35, 27,  ? & 27      1
25 or 28                     1
33 & 37                      1
(adult)                      1
? & 19                       1
34 & 19                      1
9 months                     1
25 to 35                     1
13 or 18                     1
young                        1
33 & 26                      1
2 to 3 months                1
31 or 33                     1
adult                        1
10 or 12                     1
?    &   14                  1
A.M.                         1
                             1
36 & 23                      1
9 or 10                      1
Both 11                      1
F                            1
17 & 16                      1
"young"                      1
81                           1
 43                          1
MAKE LINE GREEN              1
9 & 12                       1
74                           1
18 to 22                     1
46 & 34                      1
6½                           1
30 or 36                     1
                             1
84                           1
36 & 26                      1
Teens                        1
28, 23 & 30                  1
12 or 13                     1
33 or 37                     1
18 or 20                     1
86                           1
28 & 26                      1
18 months                    1
72                           1
60s                          1
82                           1
21 & ?                       1
mid-30s                      1
>50                          1
67                           1
20                           1
21 or 26                     1
45                           1
74                           1
Ca. 33                       1
mid-20s                      1
Elderly                      1
87                           1
23 & 20                      1
16 to 18                     1
32 & 30                      1
60's                         1
20?                          1
 28                          1
7      &    31               1
 30                          1
2½                           1
Name: Age, dtype: int64, 'Time': Afternoon      183
11h00          128
Morning        120
12h00          108
15h00          108
              ...
14h37            1
10h07            1
13h53            1
13h23            1
19h00-20h00      1
Name: Time, Length: 366, dtype: int64, 'Species ': White shark                                           161
Shark involvement prior to death was not confirmed    105
Invalid                                               101
Shark involvement not confirmed                        87
Tiger shark                                            70
                                                     ...
Blacktip shark, 5' to 6'                                1
3' shark, possibly  a blacktip or spinner shark         1
Possibly  a blacktip or spinner shark                   1
12' sandtiger shark                                     1
Thought to involve a porbeagle or mako shark            1
Name: Species , Length: 1529, dtype: int64, 'Investigator or Source': C. Moore, GSAF                                             95
C. Creswell, GSAF                                          92
S. Petersohn, GSAF                                         82
R. Collier                                                 55
R. Collier, GSAF                                           48
                                                           ..
Miami Herald, 5/18/1997                                     1
The Mirror (London); Orlando Sentinel, 5/28, 1997, p.C3     1
A. Mikula, Daytona Beach News-Journal, 6/1/1997, p.2C       1
A. Mikula, Daytona Beach News-Journal, 6/1/199,  p.2C       1
The Evening Post, 12/18/1801                                1
Name: Investigator or Source, Length: 4837, dtype: int64, 'pdf': 1898.00.00.R-Syria.pdf                 2
1916.07.12.a-b-Stillwell-Fisher.pdf    2
1931.09.21.a-b-Holaday-Barrows.pdf     2
1906.09.27.R.a&b-Munich-Swede.pdf      2
1934.12.23.a-b-Inman.pdf               2
                                      ..
2000.07.04.b-Peterson.pdf              1
2000.07.06-Walker.pdf                  1
2000.07.07-Doolittle.pdf               1
2000.07.09-Zent.pdf                    1
1801.12.18.R-Pettigrew.pdf             1
Name: pdf, Length: 6105, dtype: int64, 'href formula': http://sharkattackfile.net/spreadsheets/pdf_directory/1898.00.00.R-Syria.pdf                 2
http://sharkattackfile.net/spreadsheets/pdf_directory/1916.07.12.a-b-Stillwell-Fisher.pdf    2
http://sharkattackfile.net/spreadsheets/pdf_directory/1931.09.21.a-b-Holaday-Barrows.pdf     2
http://sharkattackfile.net/spreadsheets/pdf_directory/1906.09.27.R.a&b-Munich-Swede.pdf      2
http://sharkattackfile.net/spreadsheets/pdf_directory/1934.12.23.a-b-Inman.pdf               2
                                                                                            ..
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.06-Walker.pdf                  1
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.07-Doolittle.pdf               1
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.09-Zent.pdf                    1
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.10-MA.pdf                      1
http://sharkattackfile.net/spreadsheets/pdf_directory/1801.12.18.R-Pettigrew.pdf             1
Name: href formula, Length: 6104, dtype: int64, 'href': http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf               4
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf        3
http://sharkattackfile.net/spreadsheets/pdf_directory/1935.06.05.R-SolomonIslands.pdf    2
http://sharkattackfile.net/spreadsheets/pdf_directory/1934.12.23.a-b-Inman.pdf           2
http://sharkattackfile.net/spreadsheets/pdf_directory/1916.12.08.a-b-German.pdf          2
                                                                                        ..
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.06.30-NV-PNG.pdf              1
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.00-NV-Tanzania.pdf         1
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.02.a-Shidemantle.pdf       1
http://sharkattackfile.net/spreadsheets/pdf_directory/2000.07.02.b-Benningfield.pdf      1
http://sharkattackfile.net/spreadsheets/pdf_directory/1801.12.18.R-Pettigrew.pdf         1
Name: href, Length: 6099, dtype: int64, 'Case Number.1': 1952.08.04      2
2018.06.25      1
1959.07.23.b    1
1959.06.13      1
1959.06.14.a    1
               ..
2000.07.02.a    1
2000.07.02.b    1
2000.07.04.a    1
2000.07.04.b    1
1801.12.18.R    1
Name: Case Number.1, Length: 6113, dtype: int64, 'Case Number.2': 2018.06.25      1
1959.07.23.a    1
1959.05.30      1
1959.06.13      1
1959.06.14.a    1
               ..
2000.07.02.a    1
2000.07.02.b    1
2000.07.04.a    1
2000.07.04.b    1
1801.12.18.R    1
Name: Case Number.2, Length: 6114, dtype: int64, 'original order': 569.0     2
6303.0    1
2208.0    1
2210.0    1
2211.0    1
         ..
4260.0    1
4261.0    1
4262.0    1
4263.0    1
172.0     1
Name: original order, Length: 6113, dtype: int64, 'Unnamed: 22': stopped here    1
Name: Unnamed: 22, dtype: int64, 'Unnamed: 23': Teramo             1
change filename    1
Name: Unnamed: 23, dtype: int64}